# Node modules
/node_modules

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
/node_modules
/bower_components

# Build output
/dist
/build

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment variables
.env

# IDE files
.vscode/
*.sublime-workspace

# Operating system files
.DS_Store
Thumbs.db
